<h1>[ADD ITEM] Reviews</h1>

<table>
   <thead>
      <th>Title</th>
      <th>Review Date</th>
      <th>Description</th>
      <th>Author</th>
   </thead>
   <tbody id="data-table">
      {{#if results}}
         {{#each results}}
            <tr id={{this.id}}>
               <td>{{this.title}}</td>
               <td>{{this.reviewDate}}</td>
               <td>{{this.description}}</td>
               <td>{{this.author}}</td>
            </tr>
         {{/each}}
      {{/if}}
   </tbody>
</table>